/*Font Imports*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* General HTML element styling used by all pages */
* {
    box-sizing: border-box;
    font-family: "Open sans";
}

button:hover {
    opacity: 0.7;
}

form {
    display: inline-block;
}

input[type=email], input[type=password], input[type=text] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
