/* Styling for specific classes inside header section of main page*/
  .main-background {
    background-color: #2c2f33;
    height:100vh;
  }
  .main-header {
    background-color: #23272a;
    height: 80px;
  }
 
  .main-logo {
    font-size: 60px;
    padding-right: 10px;
    color:  #61DBFB;
    float: left
  }
 
  .main-title {
    color: white;
    font-size: 41px;
    font-family: 'Luckiest Guy';
    float: left;
    margin-top: 3px !important; 
    margin-left: 5px;
  }
    
  .main-buttons {
    text-align: right;
    color: white;
    margin-top:15px;
    margin-right: 20px;
  }

  .main-button {
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    color: #ccc;
  }
    .main-button:hover {
      opacity: 0.7;
    }

  /*Containers used to format whiteboard and chatbox */
 
.float-child-left {
    width: 71vw;
    display: inline-block;
    height: calc(80vh - 165px);
    left: 2vw;
    position: absolute;
    margin-top: 20px;
    border: 10px solid gray;
    border-radius: 5px;
    box-shadow: 6px 9px 1px rgba(0, 0, 0, 0.1)
}  
 
.float-child-right {
  width: 25vw;
  height: calc(100vh - 195px);
  right: 0;
  position: absolute;
  z-index: 5;
}  
 
.center {
  text-align: center;
  position: relative;
}

/* Remove from page temporarily*/
.toggle-inactive {
  display: none !important;
}
/* ======== for webcam streams ======== */
 
#video-grid
{
  width: 71vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20%);
  grid-auto-rows: 20vh;
  bottom: 45px;
  position: absolute;
  margin-left: 2vw;
}

/*Fixes webcam duplication issue when there are more than 1 participant 
  #video-grid > div:nth-child(even)
  {
    display:none !important;
  } */

video
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userID-container {
  height: 24px;  
  display: table;
  background-color: #ccc;
  width: 14.2vw;
  border: black solid 1px;
}

.userID {
  font-size: 12px; 
  color: black;
  vertical-align: middle;  
  display: table-cell;
  text-align: center;
}


 
.xx{
  display: inline-block;
}

/* ======== for whiteboard ======== */ 
.whiteboard
{
  height: 100%;
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: white;
  box-shadow: inset 5px 5px 10px black;
}
 
.expand-compress {
  position: absolute;
  right: 1vw;
  top: 2vh;
  z-index: 10;
  font-size: 2vw;
  color: #ccc;
  
}
  .expand-compress:hover{
    opacity: 0.7;
  }


.expanded-whiteboard{
  width: 100vw;
  height: 95vh;
  position: absolute;
  z-index: 15;
  margin-top: -80px;
  border: 0.5vw solid gray;
  border-radius: .25vw;
}

  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }

  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

.colors-thickness {
  float: left;
  height: 40px;
  width: 100px;
  border: black solid 1px;
  background-color: white;
}

.colors { position: static; display: inline-block }
 
.color {
  display: inline-block;
  height: 20px;
  width: 48px;
}
 
.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
.color.white { background-color: white; }
 
/* ======== for chat ======== */
ul {
  list-style: none;
  word-wrap: break-word;
  text-align: left;
}
 
/* Pages */
 
.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
 
.page {
  height: 100%;
  position: relative;
  width: 100%;
}
 
/* Chat page */
 
.chat.page {
  background-color: #353A45;
}
 
/* Font */
 
.messages {
  font-size: 150%;
}
 
.inputMessage {
  font-size: 100%;
}
 
.log {
  color: lightgray;
  font-size: 70%;
  margin: 5px;
  text-align: left;
}
 
/* Messages */
 
.chatArea {
  height: 100%;
  /*padding-bottom: 60px;*/
}
 
.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}
 
.message.typing .messageBody {
  color: lightgray;
}

.messageBody { color: white;}
 
.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}
 
/* Input */
 
.inputMessage {
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: relative;
  right: 0;
  width: 100%;
}
