/*Font Imports*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: "Open sans";
  }
  
  button:hover {
    opacity: 70%;
  }
  
  /* Bordered form */

  form {
      display: inline-block;
  }
  
  .App {
    text-align: center;
  }
  
  .login-title {
    font-weight: bold;
    font-size: 1em;
    margin: 5px;
  }

  .login-logo {
    font-size: 40px;
    color: #61DBFB;
    pointer-events: none;
    text-align-last: center;
    padding: 20px;
    margin-top: 10px;
  }
    
  .login-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }