/*Font Imports*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* General HTML element styling */
* {
    font-family: "Open sans";
  }
  
  button:hover {
    opacity: 70%;
  }

  form {
      display: inline-block;
  }

  input[type=email], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
   /* Styling for specific classes inside login form */
  .form-contents {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 500px;
    margin-top: 40px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  }

  .cancel-icon {
    float: right;
    color: #ccc;
  }
    .cancel-icon:hover {
      opacity: 70%;
    }

  .cancel-icon-positioning{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
  }

  .login-title {
    font-weight: bold;
    padding-bottom: 15px;
  }

  .login-logo {
    font-size: 130px;
    color: #61DBFB;
    pointer-events: none;
    text-align-last: center;
    padding: 25px 30px 10px 30px;
  }
    
  .login-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .login-button {
    font-family: "Open sans";
    font-weight: bold;
    font-size: 15px;
    color:white;
    margin: 10px;
    padding: 1em 3.5em;
    border-radius: 8px;
    border-color: lightblue;
    background-color:  #61DBFB;
  }
  
  
  .App-link {
    color: #61dafb;
  }
  
  .not-member {
    font-size: 10px;
    color: black;
    padding:0px;
    margin:0px;
  }

  /*Positioning and random styling*/

  .black-font {
      color: black;
  }