/*Font Imports*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: "Open sans";
  }
  
  button:hover {
    opacity: 70%;
  }
  
  /* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  
  .App {
    text-align: center;
  }
  
  .login-logo {
    height: 40vmin;
    font-size: 150px;
    color: #61DBFB;
    pointer-events: none;
    display: inline-block;
    align-self: center;
  }
    
  .login-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }